.Home{
    position: relative;
    height: 95vh;
    width: 100%;
    top: 0;
}
.videoBg{
    position: absolute;
    height: 95%;
    width: 100%;

    video{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.sectionText{
    position:relative;
    height:100%;
    top:20%;
    bottom:50%;
    color: white;
    padding: 0 1.3rem;

    h1{
        font-size: 100px;
        font-weight: 900;
        text-align: center;
    }
    .center{
        text-align: center;
    }

    p{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 1rem 0;
        font-size:30px;
        color: whitesmoke;
        text-align: center;
    }

}


.service_subtitle {
    font-size: 2.2rem;
    font-weight: 500;
    color: #ee6e6e;
    font-family:cursive
}

.service_title {
    font-size: 2.5rem;
    font-weight: 500;
}
.featured_tour-title{
    font-size: 2.3rem;
    font-weight: 500;
}

.experience_content h2{
    font-size: 2.5rem;
    margin-top: 1rem;
    font-weight: 500;
}

.experience_content p{
    font-size: 1.1rem;
    color: black;
    margin-top: 1rem;
}

.counter_wrapper{
    margin-top: 2.5rem;
}

.counter_box span{
    width: 70px;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: seagreen ;
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 10px 5px 10px 5px;
}

/* .counter_box h6{
    font-size: 1.1rem;
    max-: 0.7rem;
    color:black;
} */

.experience_img img{
    width: 90%;
}

.gallery_title{
    font-size: 2.3rem;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
}

