

.tour_content img {
    width: 100%;
   border-radius: 0.5rem;
   margin-bottom: 2.5rem;
}
    
.tour_info {
    border-radius: 0.5rem;
    border: 1px solid rgb(229, 231, 235);
    padding : 2rem;
}
.tour_info h2{
    font-size: 1.5rem;
}

.tour_info span {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-style: 1rem;
    color: black;
}
    
.tour_info span i {
    color: var(-heading-color);
    font-size: 1.1rem;
}

.tour_extra-details {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.tour_info h5{
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

  .tour_info p{
    line-height: 30px;
    font-size: 1rem;
    color: black;
  }

 
  .rating_group span {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    color: black;
    cursor: pointer;
  }

  .tour_reviews h5 {
    margin-bottom: 3rem;
  }
   
  .review_input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.7rem;
    border-radius: 2rem;
    border: 1px solid black;
  }

  