.search_bar{
    padding: 0.5rem 1rem;
    border-radius: 50px;
    /* box-shadow: rgba(17 , 12 , 46 , 0.15) 0px 48px 100px 0px; */
    width: max-content;
    height: max-content;
    margin-top : 50px;
  
  }
  
  .form_group span {
    font-size: 1.8rem;
    color: white;
    font-weight: 400;
  }
  
  .form_group input {
    border: NamedNodeMap;
    font-size: 0.9rem;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 5px;
    outline: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);

  }
  
  .form_group input:focus{
    outline: none;
  }

  
  
  .form_group-fast {
    border-right : 2px solid #ddd;
    padding-right: 7px;
  }
  
  i.ri-search-line{
    font-size: 24px;
    font-weight: 700;
    padding : 0.5rem;
    border-radius: 10px 5px 10px 5px;
    cursor: Pointer;
    color: rgb(16, 102, 103);

  }

.cost-input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cost-btn {
    background-color: rgb(16, 102, 103);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cost-btn:hover {
    background-color: gray;
}

.cost-input {
    width: 80px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

.form_group {
    flex: 1; /* Ensure form groups take equal space */
}

h6 {
    margin-bottom: 5px; /* Spacing for the label */
}